@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --header-height: 3rem;

    /*==== colors =====*/
    --hue-color: 49; /*hsl(49, 92%, 55%)*/

    /* hsl color mode */
    --first-color: hsl(var(--hue-color), 92%, 55%);
    --first-color-alt: hsl(var(--hue-color), 82%, 45%);
    --first-color-lighter: hsl(var(--hue-color), 100%, 72%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 36%);
    --text-color-light: hsl(var(--hue-color), 8%, 55%);
    --input-color: hsl(var(--hue-color), 98%, 91%);
    --body-color: hsl(var(--hue-color), 92%, 99%);
    --border-color: hsl(49, 0%, 86%);
    --selected-color: hsl(var(--hue-color), 100%, 70%);

    /*===== font and typography =====*/
    --body-font:'Poppins', sans-serif;

    /* font sizes .5rem = 8px, 1 rem = 16 etc*/
    --big-font-size: 2.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1.25rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.75rem;

    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

}

/* ==== base ==== */
*{
    box-sizing: border-box;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    position: relative;
}

h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

textarea{
    background-color: var(--body-color);
    font-family: var(--body-font);
    padding: 0.5rem 1rem;
    resize: none;
    outline: none;
    border-radius: 10px;
    border: 0.5px solid var(--border-color);
}

input{
    font-family: var(--body-font);
    size: var(--normal-font-size);
    padding: 0.5rem 1rem;
    background-color: var(--body-color);
    border: none;
    border-bottom: 1.75px solid var(--border-color);
}

button{
    border: none;
    font-family: var(--body-font);
    color: var(--title-color);
}

/* ==== universal ==== */
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container.text-container{
    max-width: 80%;
}

.title{
    margin-bottom: 1rem;
    font-size: var(--big-font-size);
}

.hyperlink{
    cursor: pointer;
    text-decoration: underline;
    color: var(--text-color-light);
    transition: color 0.25s ease, text-decoration 0.25s ease;
}

.hyperlink:hover, .hyperlink:active{
    color: var(--first-color-alt);
}

.button{
    display:inline-block;
    color:#fff;
    text-align: center;
    font-weight: var(--font-semi-bold);
    font-size: var(--h3-font-size);
    background-color: var(--first-color);
    width: 12rem;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0 0.1);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.button.default:hover, .button.default:focus, .button.default:active{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.button.rectangle{
    text-transform: uppercase;
    background-color: var(--first-color-alt);
    color: var(--first-color-lighter);
    border: 2px solid var(--first-color-alt);
    border-radius: 0;
}

.button.rectangle:hover, .button.rectangle:focus, .button.rectangle:active{
    color: var(--title-color);
    background-color: var(--first-color);
    border-color: var(--first-color);
}

/* header */
header .container {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 4rem;
}

#branding a{
    font-size: var(--h1-font-size);
    margin: 1rem;
    color: var(--title-color);
}

#branding:hover, #branding:active{
    filter: drop-shadow(-4px 2px 0px var(--first-color));
}

.navbar ul{
    display: flex;
    flex-wrap:wrap;
    margin-top: 0.5rem;
}

.navbar ul li{
    padding: 0 1rem;
}

.navbar a{
    cursor: pointer;
    font-size: var(--small-font-size);
    border-bottom: 0rem solid var(--text-color-light);
    transition: font-size 0.5s ease-out;
}

.navbar a:hover, .navbar a:focus, .navbar a:active{
    color: var(--first-color-alt);
    border-bottom: 0.15rem solid var(--text-color-light);
    font-size: 90%;
}

.nav-active{
    color: var(--first-color-alt);
    font-weight: bold;
}

/* statement */
.statement .container{
    display: flex;
    justify-content: space-around;
    font-size: var(--h3-font-size);
    padding-bottom: 5rem;
}

.statement-text{
    flex: 1 1 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statement-img {
    flex: 1 1 300px;
}

.statement.slogan{
    text-align: center;
}

/* yellow bckgrnd section */
.statement.what-we-do{
    background-color: var(--first-color-lighter);
    justify-content: space-between;
}

.statement li{
    padding: 1rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    border-left: 3px solid var(--first-color);
    transition: all 0.3s;
}

.statement li:hover{
    cursor: default;
    background-color: var(--first-color);
    border-color: var(--first-color-alt);
    transform: scale(1.01);
}

.wavy-border{
    height: 150px;
    overflow: hidden;
}

.interest-form{
    margin: 0.75rem 0rem;
}

.interest-form h3{
    display: inline;
    padding: 0.5rem;
}

.image-container{
    padding-left: 3rem;
    width:50%;
    height:50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.image-box{
    filter: drop-shadow(0 3px 0.2rem black);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2rem;
    scale: 1;
    transform: rotateZ(0deg);
    transition: all 1s;
}

.image-box:nth-child(1):hover{
    scale: 1.05;
    transform: rotateZ(-5deg);
    filter: drop-shadow(0 0 0.7rem var(--first-color-alt));
}

.image-box:nth-child(1) img{
    width: 300px;
    border-radius: 4px;
    transform: rotateZ(5deg);
}

.image-box:nth-child(1) svg{
    position: absolute;
    transform: translate(160px, -90px) rotateZ(10deg);
}

.image-box:nth-child(2):hover{
    scale: 1.05;
    transform: rotateZ(5deg);
    filter: drop-shadow(0 0 0.7rem var(--first-color-alt));
}

.image-box:nth-child(2) img{
    width: 300px;
    height:350px;
    border-radius: 4px;
    transform: rotateZ(-5deg);
}

.image-box:nth-child(2) svg{
    position: absolute;
    transform: translate(-135px, 160px) rotateZ(-45deg);
}

/* projects */
.projects .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 90%;
}

.container .project-images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
}

.project-images .block{
    padding: 2rem;
}

.js-hover{
    filter: grayscale(0.5) drop-shadow(0 0 0.2rem black);
    opacity: 0.8;
    scale: 1;
    transition: all 0.5s;
}

.js-hover:hover{
    filter: drop-shadow(0 0 0.5rem black);
    scale: 1.025;
}

.js-hover.active{
    filter: grayscale(0);
    opacity: 1;
}


/* footer */
footer .container{
    position: absolute;
    top:99;
    bottom: 1;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-content: end;
}

.container .copyright{
    font-size: var(--small-font-size);
    justify-self: start;
}

.container .socials{
    justify-self: end;
    font-size: 2rem;
}

.socials a{
    transition: all 0.2s ease;
}

.socials a:hover, .socials a:active{
    color: var(--first-color-alt);
}